# Notebook para el análisis exploratorio de los datos del Data Set de Habitantes de calle obtenido del Censo realizado por el [DANE](https://microdatos.dane.gov.co/index.php/catalog/720) en el año 2021

In [9]:
# Se importan las librerías que se van a utilizar en el análisis
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
# Carga de los datos
habitantes = pd.read_csv('https://raw.githubusercontent.com/n-upegui/Udea_EAyCD/main/10-Monografia/Dataset/CHC_base_anonimizada09-09-2021.csv')
mpios = pd.read_csv('https://raw.githubusercontent.com/n-upegui/Udea_EAyCD/main/10-Monografia/Dataset/lista_subregiones.csv', sep = ';')

In [5]:
habitantes.head()

,DIRECTORIO,TIP_FOR,P1,P1S1,P2,P2S1,P5,CTL_1,P8R,P9,...,P35,P36R,P37S1,P37S2,P37S3,P37S4,P37S5,P37S6,P37S7,COMPLETA
0,1.0,2.0,85.0,85001.0,1.0,5.0,2.0,1.0,44.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2.0,2.0,85.0,85001.0,1.0,5.0,2.0,1.0,33.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,3.0,2.0,85.0,85001.0,1.0,5.0,2.0,1.0,41.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,4.0,2.0,85.0,85001.0,1.0,5.0,2.0,1.0,29.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,5.0,2.0,85.0,85001.0,1.0,5.0,2.0,1.0,30.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [8]:
mpios.head()

   mpio  dptoc_mpio    nom_mpio         provincia   nom_dpto
0     1        5001    MEDELLIN  VALLE DEL ABURRA  ANTIOQUIA
1     2        5002   ABEJORRAL           ORIENTE  ANTIOQUIA
2     4        5004    ABRIAQUI         OCCIDENTE  ANTIOQUIA
3    21        5021  ALEJANDRIA           ORIENTE  ANTIOQUIA
4    30        5030       AMAGA          SUROESTE  ANTIOQUIA

In [39]:
habitantes.iloc[:, 7]

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
6245    1.0
6246    1.0
6247    1.0
6248    NaN
6249    NaN
Name: CTL_1, Length: 6250, dtype: float64

In [49]:
habitantes.columns.size

130